{
  "env": {
    "prod": {
      "plugins": [["@babel/plugin-transform-runtime", { "helpers": true, "regenerator": true }]]
    },
    "dev": {
      "plugins": [
        ["@babel/plugin-transform-runtime", { "helpers": true, "regenerator": true }],
        "react-refresh/babel"
      ]
    }
  },
  "presets": [
    ["@babel/preset-env", { "targets": { "browsers": ["last 2 Chrome versions"] } }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
